   
   @media(max-width:500px){
  .navbar{
      height:75px;
    }
    .name{
      margin-left: 5px;
      font-size: 29px;
    }
    .part1{
      display:none;
    }
  
    *{
      background-color: red;
    }

    .bodys1{
      display:block;
      padding-left: 0px;
      justify-content: center;
    }

    #profile_pic{
      height: 250px;
      width: 250px;
      margin-top: 5rem;
      justify-self: center;
    }
    .info{
      /* align-items: center;
      justify-content: center;
      margin-left: 0px;
      margin-top: 3rem;
      margin-left: 15%;   */
      margin:0px 0px 0px 0px;
      margin-top: 3rem;
      justify-self: center;
    }
     .education_box{
       margin-left: 0px;
       width:100%;
    }
    #head , #edu_icon{
      font-size:28px;
    }
    .project{
      margin-right: 25px;
    }
    .projectss{
      height:1800px;
      display: block;
      margin-left: 3%;
       
    }
    .project1 {
      width:100%;
      margin-bottom: 20px;
    }
    .pic1 , .pic2 , .pic3{
     width:80%;
     margin-right:26%;
    }
    .contact-info-upper-container{
      display:block;

    }
    .nav-links-container{
      height:300px;
      display: block;
    }
  }