   
   @media(max-width:500px){
  .navbar{
      height:75px;
    }
    .name{
      margin-left: 5px;
      font-size: 29px;
    }
    .part1{
      display:none;
    }
  
    

    .bodys1{
      display:block;
      padding-left: 0px;
      justify-content: center;
    }

    #profile_pic{
      height: 250px;
      width: 250px;
      margin-top: 5rem;
      justify-self: center;
    }
    .info{
      /* align-items: center;
      justify-content: center;
      margin-left: 0px;
      margin-top: 3rem;
      margin-left: 15%;   */
      margin:0px 0px 0px 0px;
      margin-top: 3rem;
      justify-self: center;
    }
     .education_box{
       margin-left: 0px;
       width:100%;
    }
    #head , #edu_icon{
      font-size:28px;
    }
    .project{
      margin-right: 25px;
    }
    .projectss{
      height:1800px;
      display: block;
      margin-left: 3%;
       
    }
    .project1 {
      width:100%;
      margin-bottom: 20px;
    }
    .pic1 , .pic2 , .pic3{
     width:80%;
     margin-right:26%;
    }
    .contact-info-upper-container{
      display:block;

    }
    .nav-links-container{
      height:300px;
      display: block;
    }
  }
/* ------------------------------------------------------ */
  @media(max-width:900px){
    *{
      
    }
    .navbar{
        /* justify-items: end; */
    }
     .list{
      justify-self: end;
      align-self: center;
      margin-left: 30%;
            
     }
    .list-button{
      font-size: 30px;
      margin-right: 2px;
      cursor: pointer;
       border-color: azure;
    }
    .dropdwn{
      display: block;
      height: 150px;
      width: 30%;
      border:2px solid rgb(89, 90, 88,0.1);      
      z-index: 1;
      justify-self: flex-end;
       display: none; 
       margin-top:-45px;
    }
     
    .dpp{
      
      display:flex;
      height:35px;
      width:100%;
      justify-content: center;
      align-items: center;
      
    }
    .dpp :hover{
      background-color: rgb(233, 158, 37);
      color: aqua;
      display:flex;
      height:35px;
      width:100%;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
     
    }
     
  }
/* --------------------------------------------- */


  @media  (min-width :901px){
  .list{
    display:none;
  }
  
  .dropdwn{
    display:none;
  } 
  }