*{
  background-color:#ffffff;
  font-family:sans-serif;
  text-transform: capitalize;
}
.navbar{
  height:135px;
  border:2px solid black;
  display:flex;
}
.name{
    width:200px;
  color:black;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 36px;
  letter-spacing: 3px;
  margin-left: 10rem;
}
.part1{
  color: black;
  width:100%;
  margin-left: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-weight:400;
}
#top_options {
  color:black;
  text-decoration: none;
}
#top_options:hover{
  text-decoration: underline;
}


/* BODY PART*/

.bodys1{
  height:600px;
  padding-left:23%;
  margin-top: 25px;
  border:2px solid black;
  display: flex;
  align-items: center;
}
#profile_pic{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border:1px solid rgb(0,0,0);
  display:flex;
  align-items: center;
}
.info{
  margin-left: 70px;
}

#line_1{
  margin-top:0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 16px;
  color: rgb(0,0,0,.5);
}
#line_2{
  margin-top:0px;
  margin-bottom: 0px;
  font-size: 25px;
  text-align: center;
  font-size: 46px;
}
#line_3{
  margin-top:0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 25px;
  color: rgb(0,0,0,.7);
}

#button_1{
  height: 45px;
  width: 120px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 700;  
  margin-right: 10px;
}
#button_1:hover{
  color:#ffffff;
  background-color:rgb(0,0,0,.9);
}

#button_2{
  height: 45px;
  width: 120px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 700;  
  color:#ffffff;
  background-color:rgb(0,0,0,.9);
}
#button_2:hover{
  color:rgb(0,0,0,.9);
  background-color:#ffffff;
}
.links{
  margin-top:10px;
  text-align: center;
  font-size: 30px;
}

#linkedn{
    color:rgb(57, 57, 163);
    margin-right: 11px;
}