*{
  background-color:#ffffff;
  font-family:sans-serif;
  text-transform: capitalize;
} 
.navbar{
  height:135px;
  border:2px solid black;
  display:flex;
} 
.name{
    width:200px;
  color :black;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 36px;
  letter-spacing: 3px;
  margin-left: 10rem;
}
.part1{
  color: black;
  width:100%;
  margin-left: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-weight:400;
}
#top_options {
  color:black;
  text-decoration: none;
}
#top_options:hover{
  text-decoration: underline;
}


/* BODY PART*/

.bodys1{
  height:700px;
  padding-left:23%;
  margin-top: 25px;
  border:2px solid black;
  display: flex;
  align-items: center;
}
#profile_pic{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  display:flex;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.info{
  margin-left: 70px;
}

#line_1{
  margin-top:0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 16px;
  color: rgb(0,0,0,.6);
  font-weight: 600;
}
#line_2{
  margin-top:0px;
  margin-bottom: 0px;
  font-size: 25px;
  text-align: center;
  font-size: 46px;
  font-weight: 600;
}
#line_3{
  margin-top:0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 25px;
  color: rgb(0,0,0,.7);
  font-weight: 600;
}

#button_1{
  height: 45px;
  width: 120px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 700;  
  margin-right: 10px;
}
#button_1:hover{
  color:#ffffff;
  background-color:rgb(0,0,0,.9);
}

#button_2{
  height: 45px;
  width: 120px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 700;  
  color:#ffffff;
  background-color:rgb(0,0,0,.9);
}
#button_2:hover{
  color:rgb(0,0,0,.9);
  background-color:#ffffff;
}
.links{
  margin-top:10px;
  text-align: center;
  font-size: 30px;
}

#linkedn{
    color:rgb(57, 57, 163);
    margin-right: 11px;
}

/*body section s2*/
.bodys2{
 
}
.line1{
  text-align: center;
  font-size: 15px;
  color:rgb(0,0,0,.5);
  margin-bottom:0px;
  margin-top: 15vh;  
}
.line2{
  text-align: center;
  font-size: 35px;
  font-weight: 600;  
  margin-top:4px;  
  margin-bottom: 30px;
 }
 .line3{
  margin-bottom: 180px;
  padding:0% 8% 5% 8%;
  color: rgb(0,0,0,.3);
 }
.education_box{
  height:350px;
  width:600px;
  display:flex;
  border:4px solid rgb(0,0,0,.3);
  border-radius: 45px;
  margin-left: 30%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 20vh;
}
#head{
  font-size: 40px;
  height:40px;
  position:absolute;
  font-weight: 600;  
  margin-bottom: 100px;
  
}
#edu_icon{
  margin-right: 10px;
  font-size: 33px;
  color:rgb(34, 34, 121);
}
.bodyPart{
justify-self: flex-start;
align-self: center;
margin:0px 14px 0px 25px;
}

/* PPROJECTS SESSION */
.project{
  
}
.heading{
  height:100px;
  display: flex;
  justify-content: center;
  margin-top:80px;
}
#lineone{
   position:absolute;
   font-size: 15px;
   font-weight: 500; 
  color:rgb(0,0,0,.5);

}
#linetwo{
  align-self: center;
  font-size: 35px;
  font-weight: 600; 
}


.projectss{
  height: 80vh;
  width: 100%;
  display:flex;
  justify-content:space-evenly;

  align-items: center;
}

.project1{
  height:550px;
  width:350px;
  border: 2.5px solid rgb(0,0,0,.4);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  
}

.bx{
  height:350px;
  width:290px;
  border: 2px solid rgb(0,0,0,.3);
  margin-top:30px;
  margin-left:30px ;
  border-radius: 25px;
}

.pic1{
  background-image: url(res.png);
  background-size: cover;
  background-position:center;
}
.pic2{
  background-image: url(amz.png);
  background-size: cover;
  background-position:center;
}
.pic3{
  background-image: url(img3.jpeg);
  background-size: cover;
  background-position:center;
}
.down{
  height:35px;
  width:250px;
  margin-top: 20px;
  margin-left:50px ;
  text-align: center;
  font-size: 22px;
  font-weight: 550;
  padding-top: 10px;
}

.buttons{
  height:80px;
  width: 100%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.butt{
  width:140px;
  height: 35px;
  border: 2px solid rgb(0,0,0,.3);
  border-radius: 35px;
  font-size: 15px;
  color:rgb(0,0,0,2) ;
  text-align: center;
  padding-top: 15px;
}
.butt:hover{
  cursor: pointer;
  border: 2px solid black;
}
.btna{
  text-decoration: none;
  text-transform: none;
  font-weight: 600;
  color:black;
 padding:  10px 35px 10px 35px;
}
.btnas{
  text-decoration: none;
  text-transform: none;
  font-weight: 600;
  color:black;
  padding:10px 25px 10px 26px;
}

/* CONTACT SECTION */

#contact {
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}
.section__text__p1{
  padding-top: 170px;
}
.title{
  font-size: 50px;
  margin-top: 0px;
}

 .contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
  height: 2rem;
}

.email-icon {
  height: 2.5rem;
}

.fc{
  color:black;
  text-decoration: none;
  text-transform: none;
}
/* FOOTER SECTION */

.nav-links-container{
  display: flex;
  justify-content: space-evenly; 
}
.nav-link{
  text-transform: none;
  text-decoration: none;
  color:black;
  font-size: 25px;
  font-weight: 400;
 padding: 0px 30px 0px 30px;
 
}
#l1:hover{
  color: rgb(0,0,0,1.6);
  text-decoration: underline;
}
#l2:hover{
  color: rgb(0,0,0,1.6);
  text-decoration: underline;
}
#l3:hover{
  color: rgb(0,0,0,1.6);
  text-decoration: underline;
}
#l4:hover{
  color: rgb(0,0,0,1.6);
  text-decoration: underline;
}

.nav-links{
  list-style-type: none;
}
.nav-links li{
  display: inline;
  justify-content: space-evenly;
}

footer {
  height: 26vh;
  margin: 4rem 1rem;
 
}

footer p {
  text-align: center;
  margin-top:10px;
} 
